body {
    background:black;
    color:white;
    margin:0;
    font-family:Arial, sans-serif;
}

header {
    background:black;
    border-bottom:1px solid #0ff;
    padding:20px;
    text-align:center;
}

nav a {
    color:#0ff;
    margin:0 15px;
    text-decoration:none;
    font-weight:600;
}

nav a:hover, .active {
    text-shadow:0 0 10px #0ff;
}

section {
    padding:60px;
    max-width:1000px;
    margin:auto;
}

.title {
    font-size:48px;
    color:#0ff;
    text-shadow:0 0 10px #0ff;
}

.button {
    padding:12px 20px;
    background:#0ff;
    color:black;
    font-weight:bold;
    border-radius:6px;
    text-decoration:none;
}
